*{
    margin: 0;
    padding: 0;
}

body{
    padding-bottom: 90px;
}

main{
    padding: 10px;
}


header{
    margin: 10px;
    display: flex;/* 横並び */
    justify-content: space-between;/* 左右振り分け */
    align-items: center;/* 上下センター揃え */
}
header ul{
    display: flex; /* 横並び */
    list-style: none; /* listのデザイン */
    column-gap: 1rem; /* 横並びの間隔 */
}

footer{
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(64,128,128,1);
    display: flex;/* 横並び */
    justify-content: center;/* 中央揃え */
    align-items: center;/* 上下センター揃え */
}
footer ul{
    display: flex; /* 横並び */
    list-style: none; /* listのデザイン */
    column-gap: 1rem; /* 横並びの間隔 */
    justify-content: center;/* 中央揃え */
}

.text_center {
    text-align: center;
}

/* login.php(signin.php) */
#form-login{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 5px 1%; */
    width: 25%;
    margin: auto;
}
#form-login dt{
    text-align: left;
}
#form-login dd{
    padding-bottom: 1em;
}
#form-login dd input{
    width: 100%;
}

/* #side{
    position: fixed;
    height: 100vh;
    width: 30%;
    background-color: aqua;
    top:0;
    right: 0;
} */

.post{
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #000;
}
.post-title{
    font-size: 16px;
    font-weight: normal;
    background-color: lightgrey;
    padding: 0.5em;
}


/* insert.php */
.form-insert{
    width: 400px;
    margin: 0 auto;
}
.form-insert__name-title{
    margin: 1em 0 0 0;
    text-align: left;
}

.form-insert__name-input input{
    width: 100%;
    height: 30px;
}


.form-insert__body-title{
    margin: 1em 0 0 0;
    text-align: left;
}

.form-insert__body-input textarea{
    width: 100%;
}

.form-insert__button{
    width: 100px;
    padding: 0.5em;
    background-color: rgba(110, 90, 15,0.5);
    border: none;
    outline: none;

    font-size: 20px;
    /* font-weight: bold; */
}
.form-insert__button:hover{
    background-color:rgb(110, 90, 15);
    color: #ccc;
}


/* update.php */
.form-update{
    width: 400px;
    margin: 0 auto;
}
.form-update__name-title{
    margin: 1em 0 0 0;
    text-align: left;
}

.form-update__name-input input{
    width: 100%;
    height: 30px;
}


.form-update__body-title{
    margin: 1em 0 0 0;
    text-align: left;
}

.form-update__body-input textarea{
    width: 100%;
}

.form-update__button{
    width: 100px;
    padding: 0.5em;
    background-color: rgba(110, 90, 15,0.5);
    border: none;
    outline: none;

    font-size: 20px;
    /* font-weight: bold; */
}
.form-update__button:hover{
    background-color:rgb(110, 90, 15);
    color: #ccc;
}